body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.video-container {
    flex: 1;
}

.stats-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.stats-box h2 {
    margin-top: 0;
}

.stats-box ul {
    list-style-type: none;
    padding: 0;
}

.stats-box li {
    margin-bottom: 10px;
}

.animal-list {
    margin-top: 30px;
}

#animalList {
    list-style: none;
    margin-left: 20px;
}

#animalList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#animalList li img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
